* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Gilroy';
  src: url('./Gilroy-Light.otf');
}

@font-face {
  font-family: 'Gilroy Bold';
  src: url('./Gilroy-ExtraBold.otf');
}

body {
  font-family: Gilroy;
}

.hero {
  display: flex;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  height: 100vh;
  background-color: rebeccapurple;
  color: white;
  padding: 40px;
}

.left .heading {
  margin-top: 80px;
  width: 100%;
}

.heading h1 {
  font-size: 50px;
  line-height: 1.2;
}

.heading .bold {
  font-family: 'Gilroy Bold';
}

.right {
  width: 60%;
  height: 100vh;
  background-color: red;
  color: black;
  padding: 40px;
  position: relative; /* required for absolute positioning inside */
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right-bar {
  position: absolute;
  top: 40px;
  right: 40px;
  display: flex;
  gap: 50px;
}
