* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Gilroy';
    src: url('./Gilroy-Light.otf');
}

body {
   
    font-family: Gilroy;
}

.hero {
    display: flex;
}

.left {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 40%;
    height: 100vh;
    background-color: rebeccapurple;
}

.left .heading {
    margin-top: 120px;
    width: 40%;
}

.heading h1 {
    font-size: 55px;
}

.right {
    width: 60%;
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: start;
    color: rgb(0, 0, 0);
    background-color: red;
}